<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/elastislide.css">     
        
        
    </head>
    <body>
      
      {{ content }}
      

    </body>
    
</html>
